{
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "globals": {
    "LOGGER": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [],
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["error", "unix"],
    "no-unused-vars": ["warn", { "vars": "local", "args": "none" }],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "eol-last": "error",
    "new-parens": ["error", "always"],
    "no-console": "off",
    "no-debugger": "off"
  }
}
